.block4 {
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
}

.block4__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #2C2B2E;
  margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
  .block4{
    padding-top: 30px;
  }
  .block4__title{
    font-size: 32px;
    line-height: 37px;
  }
}
@media screen and (max-width: 600px) {
  .block4__title{
    font-size: 22px;
    line-height: 27px;
    padding: 0 5px;
  }
}